<mat-form-field class="friendsSearch" appearance="standard" autocomplete="off">
  <mat-label>Search for friends</mat-label>
  <input matInput #search type="search" autocomplete="off">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<p *ngIf="(possibleFriends$ | async)?.length==0 && !(loading$ | async)" class="emptyResultMessage">No results!</p>
<mat-list role="list">
  <mat-list-item class="item" role="listitem" *ngFor="let friend of possibleFriends$ | async">{{friend.username}}
    <div class="spacer"></div>
    <button mat-raised-button color="primary" (click)="sendRequest(friend._id)"><mat-icon>person_add</mat-icon></button>
  </mat-list-item>
</mat-list>
