<mat-drawer-container class="content">
  <mat-drawer opened="{{filtersOpen}}" mode="side" class="sidenav" (window:resize)="onResize()">
    <game-filter></game-filter>
  </mat-drawer>
    <game-search></game-search>
    <div class="gamesWrapper">
      <p *ngIf="(games$ | async)?.length==0 && !(isLoading$ | async)" class="emptyResultMessage">No results</p>
      <div *ngIf="isLoading$ | async" class="load"><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
      <ng-container *ngFor="let game of games$ | async">
         <app-game-card [gameInfo]="game"></app-game-card>
      </ng-container>
    </div>
  <div *ngIf="filtersOpen === false" (click)="filtersOpen=true" class="openFilters"><mat-icon>filter_list</mat-icon></div>
  <div *ngIf="filtersOpen === true" (click)="filtersOpen=false" class="openFilters"><mat-icon>keyboard_arrow_left</mat-icon></div>
</mat-drawer-container>



