<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/768px-Steam_icon_logo.svg.png"
  />
  <ng-container *ngIf="loggedIn">
    <span><a routerLink="games">Games</a></span>
    <span><a routerLink="library">Library</a></span>
    <span><a routerLink="friends">Friends</a></span>
    <span><a routerLink="profile">Profile</a></span>
  </ng-container>
  <div class="spacer"></div>
  <mat-icon class="clickableIcon" *ngIf="loggedIn" (click)="exit()">exit_to_app</mat-icon>
</div>
