<mat-card class="form">
  <h1>Profile</h1>
  <form action="" (submit)="onSubmit()" [formGroup]="profileForm">
    <mat-form-field appearance="fill" class="formInput">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" >
    </mat-form-field>
    <mat-form-field appearance="fill" class="formInput">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="fill" class="formInput">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age">
    </mat-form-field>
    <button disabled="{{!this.profileForm.valid}}"mat-raised-button color="primary" style="width: 100%">Save</button>
  </form>
</mat-card>
