div{
  margin-top: 70px;
}
.gameCard{
  width: 300px;
  margin: 10px;
}
.gamesWrapper{
  margin-top: 70px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.gameImage{
  height: 300px;
}
.load{
  width: 100%;
  top: 0px;
  right: 0px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
@media screen and (max-width:850px) {
  app-library-item {
    margin: 0 auto;
  }
}
