<mat-card class="gameCard" routerLink="{{gameInfo._id}}">
  <mat-card-title>{{gameInfo.name}}</mat-card-title>
  <mat-card-subtitle>{{gameInfo.price}} UAH</mat-card-subtitle>
  <img mat-card-image class="gameImage" src="{{gameInfo.photo}}">
  <mat-card-content>{{gameInfo.description | shortened}}</mat-card-content>
  <mat-card-actions (click)="$event.stopPropagation()">
    <button *ngIf="!gameInfo.selected" mat-raised-button color="primary" style="width: 100%" (click)="addToLib(gameInfo._id)">Add to library</button>
    <button *ngIf="gameInfo.selected" mat-stroked-button color="primary" style="width: 100%" (click)="removeFromLib(gameInfo._id)">In your library!</button>
  </mat-card-actions>
</mat-card>
